.signInBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px
}
.link{
    text-decoration: none;
}
.signInForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}