.section {
  width: 600px;
  height: auto;
}
.sectionList {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55vh;
}
.sectionList::-webkit-scrollbar {
  width: 8px;
}

.sectionList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.sectionList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
.sectionListItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}
.sectionListItems h2 {
  width: 100%;
}
