.header {
  display: flex;
  justify-content: center;
  background: #1c1c21;
  padding: 16px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.headerContainer {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}
.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1c1c21;
  flex: none;
  order: 1;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1c1c21;
}
.menuItemText {
  text-decoration: none;
}
.active {
  color: white;
}
